html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #ebfbf4;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  padding: 8px;
  margin: 4px;
  border-radius: 12px;
  cursor: pointer;
  color: rgb(0, 219, 146);
  background-color: transparent;
  transition: all 1s;
}

button:hover {
  background-color: rgb(0, 219, 146);
  color: white;
}

* {
  box-sizing: border-box;
}

h5 {
  margin-top: 0;
  color: gray;
}

.chat {
  color: white;
  padding: 8px;
  border-radius: 8px;
  position: relative;
}

.my-chat {
  background-color: orange;
  transition: all 0.3s;
}

.my-chat:hover {
  background-color: rgb(255, 103, 129);
}

.others-chat {
  background-color: rgb(0, 219, 146);
}

.master-chat {
  text-align: center;
  color: rgb(179, 179, 179);
  font-size: 12px;
  display: block;
}

.chat-box {
  padding: 20px 0px;
  word-wrap: break-word;
  position: relative;
}

.my-chat-box {
  text-align: right;
}

.others-chat-box {
  text-align: left;
}

.deleted-chat {
  background-color: gray;
}

.container {
  width: 70%;
  max-width: 2250px;
  min-width: 450px;
  padding: 120px 0;
  position: relative;
  margin: 60px auto 0 auto;
}

.delete-btn {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  position: absolute;
  top: -15px;
  right: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  cursor: pointer;
}

.user-container {
  width: 300px;
  height: 100vh;
  background-color: rgb(68, 68, 68, 0.7);
  position: fixed;
  top: 0px;
  left: -235px;
  transition: all 1s;
  opacity: 0.9;
  z-index: 10;
}

.user-container > h4 {
  position: absolute;
  right: 10px;
  top: 65px;
  color: white;
}

.user-container:hover {
  transform: translateX(235px);
  opacity: 1;
}

.name-box {
  width: 235px;
  height: 100vh;
  padding-top: 65px;
}

.profile {
  background-color: rgb(255, 255, 250, 0.3);
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 25px;
  cursor: pointer;
  position: relative;
}

.profile-img {
  background-size: cover;
  background-position: center center;
  border-radius: 50%;
  border: 1px solid orange;
}

.profile:hover {
  background-color: orange;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #eee;
  margin: auto 10px;
  overflow: hidden;
  border: 2px solid orange;
}

.out-icon {
  position: absolute;
  right: 20px;
  top: 35%;
}

.submit-form {
  width: 500px;
  height: 390px;
  margin: 150px auto 20px auto;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.05);
  padding: 2px;
}

.input-box {
  padding: 12px;
  border: 1px solid orange;
  border-radius: 20px;
  margin: 12px 0;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin: 15px;
  padding-top: 15px;
  accent-color: orange;
}

input[type=file] {
  font-size: 10px;
  text-align: right;
}

.item {
  color: gray;
  font-size: 13px;
}

.title {
  color: orange;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-body {
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.submit-btn {
  width: 500px;
  height: 60px;
  font-size: 23px;
  display: block;
  margin: auto;
  border: 1px solid rgb(0, 219, 146);
}

.error-message {
  height: 18px;
  color: orange;
  font-size: 13px;
}

.modal-bg {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.modal {
  width: 400px;
  height: 90px;
  background-color: #efefef;
  border-radius: 20px;
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.modal-input {
  width: 200px;
}

.wrong-pw {
  animation-name: shake;
  animation-duration: 0.3s;
}

@keyframes shake {
  0% {
      transform: translateX(0px)
  }
  20% {
      transform: translateX(30px)
  }
  40% {
      transform: translateX(-30px)
  }
  60% {
      transform: translateX(30px)
  }
  80% {
      transform: translateX(-30px)
  }
  100% {
      transform: translateX(0px)
  }
}
